{%load static%}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'blog/main.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Blog</title>
</head>

<body background={% static "images/atmosphere-clouds-daylight-1287142.jpg" %}>
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                      <span class="navbar-toggler-icon"><i class="fa fa-pencil-square-o" style="font-size:30px;color:white"></i></span>
                     
                    </button>
                <a href="/" class="navbar-brand">Personal Blog</a>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{%url 'blog-home'%}">Home</a>
                        </li>
                        <li class="dropdown">
                            {% if user.is_authenticated %}

                            <li class="nav-item">

                                <a class="nav-link" href="{% url 'blogprofile' user.id %}">{{user.username}}</a>

                            </li>
                            <li class="nav-item">

                                <a class="nav-link" href="{% url 'blog-create'  %}">Add New</a>

                            </li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>

                            {% else %}
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            {% endif %}

                        </li>

                    </ul>


                </nav>


            </div>
    </header>
    <div class="container">
        {%block content%} {%endblock%}
    </div>

    <footer class="page-footer font-small fixed-bottom" style="position: fixed;margin-top:10px;">
        <div class="footer-copyright text-center py-3">
            <p class="m-0 text-center text-black ">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




</body>

</html>