{%extends "base.html" %} {%block content%} {% load crispy_forms_tags %}
<div class="card" style="width: 50%;text-align:center; margin-left:auto;margin-right:auto;margin-top:20px;box-shadow: 3px 3px 5px 6px rgb(66, 12, 119);">
    <div class="card-header" style="background-color: #be8ce7;color:rgb(83, 22, 153);font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:large"><b>UPDATE POST</div>
    <div class="content-section">
        <div class="card-body" style="background-color: #c4afdd">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    
                    {{form|crispy}}
                </fieldset>
                <div class="border-top pt-3 " style="background-color: #be8ce7;color: white">
                    <button class="btn btn-outline-info" type="submit" href="{% url 'blog-detail' object.id%}">save</button>
                </div>
                
            </form>
        </div>
    </div>

    
    
</div>
{%endblock content%}