{% extends "base.html" %} {% load crispy_forms_tags %} {%block content%}




<body>
    <div class="container">
        <div class="row" style="margin:70px">
            <div class="card" style="width: 100%; margin-top:5px;margin-bottom: 5px;box-shadow: 3px 3px 5px 6px rgb(66, 12, 119);">
                <div class="card-header" style="background-color: #c3aed4">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{user.profile.image.url}}" style="width:45px;height:45px">
                        <div class="media-body">
                            <h1>{{object.blog_title}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #d5c7e0">
                    <h2>{{object.blog_text}}</h2>
                    <small class="text-muted">{{object.blog_date}}</small>
                    <h4>Posted by: {{object.blog_author}}</h4>
                    <a class="btn btn-outline-secondary" href="{% url 'blog-update' object.id%}">Update</a>

                    <a class="btn btn-outline-secondary" href="{% url 'blog-delete' object.id%}">Delete</a>
                </div>
            </div>

        </div>
    </div>







</body>

</html>

{%endblock content%}