{% extends "base.html" %} {% load crispy_forms_tags %} {%block content%}

<body>


    <div class="container">
        <div class="row" style="margin:70px">
            <div class="card" style="width: 100%; margin-top:5px;margin-bottom: 5px;box-shadow: 3px 3px 5px 6px rgb(140, 73, 194);">
                <div class="card-header" style="background-color: #c3aed4">
                    <div class="media">
                        <img class="rounded-circle account-img" src="{{user.profile.image.url}}" style="width:45px;height:45px">
                        <h1>{{user.username}}</h1>

                    </div>
                </div>
                <div class="card-body" style="background-color: #d5c7e0">

                    <a class="btn btn-outline-secondary " href="/">Go back to home</a>
                    <a class="float-right" href="{%url 'logout' %}">Logout</a>


                </div>
            </div>

        </div>
    </div>
</body>

</html>

{%endblock content%}