{%extends "base.html" %} {%block content%} {% load crispy_forms_tags %}
<div class="card" style="width: 50%; margin-left:auto;margin-right:auto;box-shadow: 3px 3px 5px 6px rgb(66, 12, 119);">
    <div class="card-header" style="background-color: #be8ce7;color: white">REGISTER NOW</div>
    <div class="content-section">
        <div class="card-body" style="background-color: #c4afdd">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">

                    {{form|crispy}}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    <small class="text-muted">
                            Already have an account? <a class="ml-2" href="{%url 'login' %}">Login</a>
                        </small>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock content %}